<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <p><a href="/compatibility/start?players=<PLAYERS>">Lien de la partie</a></p>
        <p><a href="/compatibility/game?master=1&amp;players=<PLAYERS>">Lien du maître du jeu</a></p>
    </body>
</html>
